@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}
h1,h2,h3{
    font-family: 'Bebas Neue', cursive;

}
p{
    font-family: 'Space Mono', monospace;
}
.banner{
    background-image: url(https://source.unsplash.com/random/1000x500);
    background-size: cover;
    color: white;
    padding: 120px 0;
}

.container {
    width: 700px;
    margin: 50px auto;
}
.link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}

a {
    text-decoration: none;
    color: #4352A1;
}

/* Media queries */
@media(max-width: 992px) {
    .container {
      width: 700px;
    }
  }